<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>crm</display-name>

	<!-- 字符集过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.kaishengit.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 登录过滤器 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.kaishengit.web.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>validate</param-name>
			<param-value>/account,/customer,/sale,/task,/disk</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
