<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="sout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="fout" class="ch.qos.logback.core.FileAppender">
		<file>D:/logback.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="sout"/>
		<appender-ref ref="fout"/>
	</root>
	
	<!-- <property name="LOG_HOME" value="D:/logs"/>
	
	<appender name="dailyOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			日志文件输出的文件名
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log</FileNamePattern>
			日志文件保留天数
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%d{MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="dailyOut" />
		<appender-ref ref="sout" />
	</root> -->
	
	
</configuration>