<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.TagMapper">

    <select id="findByStuId" parameterType="int" resultType="com.kaishengit.entity.Tag">
        SELECT
            tag.id,
            tag.tag_name
        FROM
            t_student stu
        INNER JOIN t_stu_tag st ON stu.id = st.sid
        INNER JOIN t_tag tag ON tag.id = st.tid
        WHERE
            stu.id = #{id}

    </select>

</mapper>